body{
    font-family: 'DM Serif Display', serif;
    font-family: 'Jost', sans-serif;
    background-color: antiquewhite;
  
}

.app-container{
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(252, 249, 244);
}
/* header */
.header-container{
    display: flex;
    justify-content: space-between;
    width: 1210px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.logo-container{
     position: relative;
}
.logo-svg{
    
    position: absolute;
    left: 5.13px;
    top: 10px;
    
}
.logo-link{
    color: #292F36;
    font-size: 20px;
    font-family: DM Serif Display;
    font-weight: 400;
    line-height: 50px;
    text-decoration: none;
    position: relative;
    left: 40px;
   
}
.header-list{
    width: 586px;
    list-style: none;
    display: flex;
    text-align: center;
    gap: 30px;
}

.fa-search{
    color: rgb(110, 110, 110);
    
    
}
.fa-search:hover,
.fa-search:focus{
    color: #C76904;
    box-shadow: 0px 0px 9px #C76904 inset,
                0px 2px 7px #d67004;
                border-radius: 10px;
}
.header-link{
    color: #292F36;
    font-size: 20px;
    font-family: Jost;
    font-weight: 500;
    line-height: 25px;
    text-decoration: none;
    padding: 0px  0px;
}
.header-link:hover,
.header-link:focus{
    color: #C76904;
    box-shadow: 0px 0px 9px #C76904 inset,
                0px 2px 7px #d67004;
                border-radius: 10px;

}
.header-link:active{
    text-decoration: underline #CDA274;
}
/* main */
/* first section */
.first-section-div{
    background-image: url(./images/b-image_1.jpg);
    width: 1210px;
    height: 750px;
    border-radius: 100px 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 162px;
   

}
.main-title{
    width: 699px;
    height: 162px;
    color: white;
    font-size: 65px;
    font-family: DM Serif Display;
    font-weight: 400;
    line-height: 81.25px;
    padding-top: 55px;
    padding-left: 25px;
    margin: 0px;
  

}
.first-section-p{
    width: 470px;
    color: white;
    font-size: 22px;
    font-family: Inter;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0.22px;
    margin:0;
    padding-left: 25px;
}
.first-section-btn{
    
    color: white;
    font-size: 18px;
    font-family: Inter;
    font-weight: 600;
    line-height: 22.50px;
    letter-spacing: 0.36px;
    background-color:#CDA274 ;
    border: none;
    border-radius: 18px;
    padding: 26px 49px;
    box-shadow: 0px 10px 20px rgba(192.31, 192.31, 192.31, 0.35);
    margin-top: 25px;
    margin-left: 25px;
}
.first-section-btn:hover,
.first-section-btn:focus{
    box-shadow: 55px 0px 47px #53361dde inset,
                5px 3px 27px #3d2a1adb;
                border-radius: 20px;
                background-color: #987046;
    transition: all 2s;
}
/* second section */
.s-s-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 95px;
    display: flex;
    justify-content: center;
}
.s-s-list{
    display: flex;
}
.s-s-item{
    list-style: none;
}
.s-s-title{
    width: 152px;
    color: #7a552c;
    font-size: 25px;
    font-family: DM Serif Display;
    font-weight: 400;
    line-height: 31.25px;
    margin-left: 30%;
    text-shadow: 0px 1px 40px #736150,
                 0px 0px 10px #ebb57b;
}
.s-s-paragraf{
    width: 358px;
    height: 99px;
    color: #8b672c;
    font-size: 22px;
    font-family: Jost;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    margin-top: 20px;
    text-align: center;
}
.s-s-button{
    color: #7a552c;
    font-size: 18px;
    font-family: Jost;
    font-weight: 600;
    line-height: 22.50px;
    letter-spacing: 0.36px;
    border: none;
    background-color: transparent;
    margin-top: 52px;
    margin-left: 30%;
    text-shadow: 0px 1px 40px #736150,
                 0px 0px 10px #ebb57b;
}
.s-s-button:hover,
.s-s-button:focus{
    color: #CDA274;
    box-shadow: 0px 0px 7px #CDA274 inset,
                0px 1px 7px #C76904;
                border-radius: 10px;
                transition: all 1s;
}
/* section 3 */
.third-section{
    width: 1210px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 154px;

}
.t-s-container{
    width: 1040px;
    height: 700px;
    background-image: url(./images/photo-33.jpg);
    background-size: contain ;
    background-repeat: no-repeat;
    margin-left: 365px;
   
}
.second-img{
   
    width: 653px;
    height: 700px;
    position: absolute;
    top:0px;
    left: 0px;
    border-top-right-radius: 250px;
    box-shadow: 0px 0px 0px,
                89px 0px 0px #fff;
    
}
.t-s-title{
    width: 368px;
    height: 138px;
    color: white;
    font-size: 55px;
    font-family: DM Serif Display;
    font-weight: 400;
    line-height: 68.75px;
    position: absolute;
    z-index: 1;
    top: 92px;
    left: 25px;
    text-shadow: 0px 0px 10px #cf8230, 0px 0px 40px #713404;
}
.t-s-paragraf{
    width: 324px;
    height: 99px;
    color: white;
    font-size: 22px;
    font-family: Jost;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0.22px;
    position: absolute;
    z-index: 1;
    left: 25px;
    top: 268px;
    text-shadow: 0px 0px 10px #cf8230, 0px 0px 40px #713404;
}
.svg-t-s{
    position: absolute;
    z-index: 1;
    top: 410px;
    left: 25px;
    box-shadow: 0px 0px 10px #cf8230, 0px 0px 40px #713404;
} 

.tel-t-s{
    color: white;
    font-size: 24px;
    font-family: Jost;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.24px;
    text-decoration: none;
    position: absolute;
    top: 10px;
    left: 105px;
    text-shadow: 0px 0px 10px #cf8230, 0px 0px 40px #713404;
}
.tel-paragraf{
    width: 169px;
    color: white;
    font-size: 22px;
    font-family: Jost;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0.22px;
    position: absolute;
    top: 25px;
    left: 105px;
    text-shadow: 0px 0px 10px #cf8230, 0px 0px 40px #713404;
}
.t-s-button{
    color: white;
    font-size: 18px;
    font-family: Inter;
    font-weight: 500;
    line-height: 22.50px;
    letter-spacing: 0.36px;
    padding: 20px 25px;
    border-radius: 18px;
    box-shadow: 0px 10px 20px rgb(94, 58, 34);
    background-color: #CDA274;
    border: none;
    position: absolute;
    z-index: 1;
    bottom: 80px;
    left: 25px;
}
.t-s-button:hover,
.t-s-button:focus{
    box-shadow: 55px 0px 47px #53361dde inset,
                5px 3px 17px #3d2a1adb;
                border-radius: 20px;
                background-color: #987046;
                transition: all 2s ; 
}
/* section 4 */
.fourth-section{
    width: 1210px;
    height: 700px;
    border-radius: 38px;
    background-color: #CDA274;
    margin-left: auto;
    margin-right: auto;
}
.f-s-container{
    padding: 20px;
    margin-top: 194px;
}
.f-s-title{
    width: 547px;
    color: white;
    font-size: 50px;
    font-family: DM Serif Display;
    font-weight: 400;
    line-height: 62.50px;
    letter-spacing: 1px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 88px;
    text-shadow: 9px 8px 17px #7b5435;
    

}
.f-s-list{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 38px;
    margin-left: -40px;
    gap: 30px;
}
.f-s-item{
    background-color: #fff;
    list-style: none;
    border-radius: 10%;
    height: 336px;
    box-shadow: 1px 0px 17px #6d3f0d;
    
}
.f-s-portrait{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    margin-top: 53px;
    margin-left: 32px;
}
.f-s-name{
    
    color: #292F36;
    font-size: 25px;
    font-family: DM Serif Display;
    font-weight: 400;
    line-height: 37.50px;
    letter-spacing: 0.25px;
    margin-top: -59px;
   
}
.natasha{
    margin-left: -30px;
}
.galario{
    margin-left: 80px;
}
.f-s-country{
    color: #4D5053;
    font-size: 18px;
    font-family: Jost;
    font-weight: 400;
    line-height: 27px;
    margin-top: -40px;
}
.london{
    margin-left: -25px;
}
.f-s-description{
    width: 296px;
    color: #4D5053;
    font-size: 22px;
    font-family: Jost;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    text-align: start;
    padding: 30px;
}
/* section 5 */
.five-s-container{
    width: 1210px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 188px;
   display: flex;
   align-items: center;
   justify-content: center;
   
}
.five-s-list{
    display: flex;
    gap: 40px;
}
.five-s-item{
   list-style: none;
   position: relative;
  
}
.piramide{
    position: relative;
    display: flex;
}
.piramide-paragraf{
    
    font-weight: 500 ;
    font-size: 25px;
    letter-spacing: 0.1em;
    position: absolute;
    left: 186px;
    top: -9px;
    
}
.svg-cont-second{
   
  position: absolute;
  left: 171px;
  bottom: 40px;
}
.svg-container{
    display: flex;
    flex-direction: column;
    gap: 3.5px;
    position: absolute;
    left:145px;
    bottom: 45.8px;
}
.t-svg-container{
   width: 299px;
   display: flex;
   gap: 1px;
   justify-content: center;
}
/* section 6 */
.six-f-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.six-s-title{
    
    color: #36383b;
    font-size: 60px;
    font-family: DM Serif Display;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 1.20px;
    
}
.six-s-paragraf{
    width: 699px;
    color: #3d3f40;
    font-size: 28px;
    font-family: Jost;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.29px;
    text-align: center;
    
}
/* six  img section*/
.six-s-container{
    width: 1210px;
    margin-left: auto;
    margin-right: auto;
   
}
.six-f-list{
    display: flex;
    gap: 116px;
    margin-bottom: 32px;
}
.six-s-list{
    display: flex;
    gap: 116px;
}
.six-s-item{
    width: 548px;
    list-style: none;
    
}
.six-s-img{
    
    border-top-right-radius: 270px;
}
.end-container{
  display: inline-flex;
  gap: 260px;
}
.img-descrip{
    width: 217px;
    height: 70px;
    
}
.img-title{
    color: #292F36;
    font-size: 25px;
    font-family: DM Serif Display;
    font-weight: 400;
    line-height: 31.25px;
    letter-spacing: 0.50px;
    margin: auto;
}
.img-paragraf{
    color: #4D5053;
    font-size: 22px;
    font-family: Jost;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    margin: auto;
    
}
.img-svg-container{
   width: 70px;
   height: 70px;
   
  
}
.img-button{
    border: none;
    background-color: transparent;
    padding: 0;
    width: 70px;
    height: 70px;
}
.img-button:hover,
.img-button:focus{
    
    box-shadow: 0px 10px 30px #ddb28ade ,
                0px 10px 20px #dfb99adb;
                border-radius: 50%;
                background-color: #d1a474;
                transition: all 1s; 
                
                
}


/*  section 7 */

.seven-s-container{
    width: 1210px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
}
.seven-s-list{
    height: 106px;
    display: flex;
    
}
.seven-s-item{
    height: 130px;
    margin: auto;
    list-style: none;
    border-right:  1px  solid #CDA274;
    padding-right: 50px;
    
}
.seven-s-item:last-child{
    border: none;
}
.f-list-p{
    
    color: #CDA274;
    font-size: 85px;
    font-family: DM Serif Display;
    font-weight: 400;
    line-height: 106.25px;
    letter-spacing: 1.70px;
    padding: 0;
    margin: 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.list-p{

    color: #4D5053;
    font-size: 22px;
    font-family: Jost;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* section 8 */
.eight-container{
    margin-left: auto;
    margin-right: auto;
}
.eight-f-container{
    width: 811px;
    height: 213px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: auto;
    margin-top: 300px;
    position: relative;
}
.eight-f-title{
    color: #292F36;
    font-size: 60px;
    font-family: DM Serif Display;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 1.20px;
    margin: auto;
}
.eight-f-paragraf{
    
    color: #4D5053;
    font-size: 28px;
    font-family: Jost;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.28px;
    margin: auto;
    text-align: center;
    
}
.eight-s-container{
    margin-top: 209px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.eight-s-list{
    display: flex;
    gap: 27px;
}
.eight-second-item{
    width: 382px;
    list-style: none;
    border: 1px solid #E7E7E7;
    border-radius: 45px;
    position: relative;
}
.eight-second-item:hover,
.eight-second-item:focus{
    background-color: #f1ebe5;
}

.eight-s-img{
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    margin: 21px 21px 5px 21px;
    
}
.eight-s-paragraf{
    width: 118px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: Jost;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 24px;
    letter-spacing: 0.16px;
    position: absolute;
    top: 260px;
    left: 41px;
    background-color: rgba(0, 0, 0, 0.50) ;
    padding: 6px 7px 7px 10px;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    
}
.eight-s-title{
    width: 290px;
    text-align: left;
    color: #292F36;
    font-size: 25px;
    font-family: DM Serif Display;
    font-weight: 400;
    line-height: 31.25px;
    letter-spacing: 0.50px;
    margin: 0px 0px 0px 21px ;
}

.eight-btn-container{
    display: flex;
    gap: 50px;
    margin: 15px 0px 10px 21px;
}
.eight-t-paragraf{
   width: 223px;
   color: #4D5053;
    font-size: 16px;
    font-family: Jost;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 24px;
    letter-spacing: 0.16px;
}
.eight-s-button{
    border: none;
    background-color: transparent;
}
.eight-svg:hover,
.eight-svg:focus{
    border-color: #C76904;
    box-shadow: 0px 10px 30px #ddb28ade ,
                0px 10px 20px #dfb99adb;
                border-radius: 50%;
                background-color: transparent;
                transition: all 2s; 
}
/* footer */
/* first part of footer */
.first-footer-cont{
    width: 1920px;
    height: 430px;
    margin-top: 105px;
    background-image: url(./images/photo-footer.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.first-footer-title{
    color: white;
    font-size: 50px;
    font-family: DM Serif Display;
    font-weight: 400;
    line-height: 62.50px;
    margin: 85px 0 0 0 ;
}
.first-footer-prg{
    color: white;
    font-size: 22px;
    font-family: Jost;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0.22px;
   
}
.first-footer-btn{
    color: white;
    font-size: 18px;
    font-family: Jost;
    font-weight: 600;
    line-height: 22.50px;
    letter-spacing: 0.36px;
    background-color: #CDA274;
    border: none;
    border-radius: 18px;
    box-shadow: 0px 10px 20px #1F2022;
    padding: 26px 37px;
}
/* second container of footer */
.second-general-div{
display: flex;
justify-content: center;
margin-top: 41px;
margin-bottom: 131px;
gap: 101px;
}
/* second part of footer */
.logo-svg-second{
    width: 50px;
    height: 50px;
    margin-bottom: -7px;
  
}
.logo-link-second{
    color: #292F36;
    font-size: 40px;
    font-family: DM Serif Display;
    font-weight: 400;
    line-height: 50px;
    text-decoration: none;
}
.second-footer-prg{
    width: 393px;
    color: #4D5053;
    font-size: 22px;
    font-family: Jost;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    margin-top: 18px;
}
.second-footer-list{
    display: inline-flex;
    justify-content: flex-start;
    gap: 54px;
    padding: 0;
}
.second-footer-item{
    list-style: none;
    
}
/* third-five part of footer */
.third-footer-item{
    list-style: none;
    
}
.third-footer-title{
    color: #292F36;
    font-size: 25px;
    font-family: DM Serif Display;
    font-weight: 400;
    line-height: 31.25px;
}
.third-footer-btn{
    border: none;
    background-color: transparent;
    color: #4D5053;
    font-size: 22px;
    font-family: Jost;
    font-weight: 400;
    line-height: 66px;
    letter-spacing: 0.22px;
    word-wrap: break-word
}
.third-footer-btn:hover,
.third-footer-btn:focus{
    color: #ad671b;
    
}
.last-list{
    padding: 0;
    display: flex;
    flex-direction: column;
}
.third-footer-prg{
    color: #4D5053;
    font-size: 22px;
    font-family: Jost;
    font-weight: 400;
   
}
.third-footer-link{
    color: #4D5053;
    font-size: 22px;
    font-family: Jost;
    font-weight: 400;
    text-decoration: none;
    
    
}
.last-prg{
    text-align: center;
   padding-bottom: 15px;
}