body{
    font-family: "Roboto", sans-serif;
    background-color: rgb(75, 74, 74);
    margin: 0;
            padding: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
li{
    list-style: none;
}
:root {
    --size-default: 22px;
    --size-sm: 16px;
    --color-green: #00d5ff;
    --color-black:#000;
    --_fw-900: 900;
    --_fw-700: 700;
    --_fw-400: 400;
  
    --_clr-900: #bff2fd;
    --_clr-700: #94e6f7;
    --_clr-400: #00d5ff;
  
    --h2-font: 50px;
    --font-f: "Roboto", sans-serif;
  }
.app-container{
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(252, 249, 244);
}
/* header */
.header-container{
    display: flex;
    justify-content: space-between;
    width: 1210px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.logo-container{
     position: relative;
}
.logo-container img{
    width: 10rem;
   
}

.header-list{
    width: 586px;
    list-style: none;
    display: flex;
    text-align: center;
    gap: 30px;
}

.fa-search{
    color: rgb(110, 110, 110);
    
    
}
.fa-search:hover,
.fa-search:focus{
    color: #C76904;
    box-shadow: 0px 0px 9px #C76904 inset,
                0px 2px 7px #d67004;
                border-radius: 10px;
}
.header-link{
    color: #1f2327;
    font-size: 20px;
    font-family: var(--font-f);
    font-weight: 500;
    line-height: 25px;
    text-decoration: none;
    padding: 0px  0px;
    position: relative;
}
.header-link::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: #00d5ff;
    border-radius: 5px;
    transform: scale(0);
    transition: all .6s ease;
}
.header-link::before{
    bottom: 0;
    left: 0;
}
.header-link:hover::before{
    transform: scale(1);
}



/* main */
/* first section */
.first-section-div{
    background-image: url(./images/luxury-interior-living-room-with-sofa-lamp-plant-frame-poster-mockup_90220-1700.jpg);
    width: 1210px;
    height: 750px;
    /* border-radius: 100px 0; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 62px;
    background-size: cover;
    background-repeat: no-repeat;
    border-image: fill 0 linear-gradient(#0001, #000);
   

}
.main-title{
    width: 699px;
    height: 162px;
    color: rgb(213, 249, 255);
    font-size: 65px;
    font-family: var(--font-f);
    font-weight: 400;
    line-height: 75.25px;
    padding-top: 55px;
    padding-left: 25px;
    margin: 0px;
    border-radius: 100px 0;
  

}
.first-section-p{
    width: 470px;
    color: rgb(209, 248, 255);
    font-size: 22px;
    font-family: var(--font-f);
    
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0.22px;
    margin:50px 0 35px 0;
    padding-left: 25px;
}
@property --angle {
    syntax: "<angle>";
      initial-value: 0deg;
      inherits: false;
  }
  @property --glowColor {
    syntax: "<color>";
      initial-value: #58ddd0;
  }
  @keyframes rotate {
    0% {
      --angle: 0deg;
      --glowColor: var(--color-green);
      
    }
    100% {
      --angle: 360deg;
      --glowColor: var(--color-green);
    }
  }
  * {
    box-sizing: border-box;
  }
  .btn-anim{
    display: flex;
    align-items: center;
    margin-left: 15px;
    border-radius: 100px;
    border: none;
    background: none;
    position: relative;
    padding: 1px;
    text-decoration: none;
    transition: all 0.18s ease-in-out;
    transform: translate3d(0,0,0);
  
  }
  .btn-anim:after,
  .btn-anim:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 200px;
    height: 100%;
    border-radius: calc(100px + 1.5px);
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: conic-gradient(
               from var(--angle) at 50% 50%,
               rgba(0, 0, 0, 0) 0%,
               rgba(0, 0, 0, 0) 33%,
               var(--glowColor) 50%,
               rgba(0, 0, 0, 0) 66%,
               rgba(0, 0, 0, 0) 100%
    );
    animation: rotate 2s infinite linear;
  }
  .btn-anim:before{
    animation: rotate 2s infinite linear;
    filter: blur(20px);
  }
  .btn-anim .btnInner{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding: var(--size-sm) var(--size-default);
    border-radius: 100px;
    color: var(--color-green);
    font-weight: 500;
    font-size: 22px;
    z-index: 1;
    transition: all 0.18s ease;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(40px);
    backface-visibility: hidden;
  }

/* second section */
.s-s-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 95px;
    display: flex;
    justify-content: center;
}
.s-s-list{
    width: 1210px;
    display: flex;
    gap: 45px;
    padding: 0;
}
.s-s-item{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s-s-title{
    width: 152px;
    color: #2e2c29;
    font-size: 25px;
    font-family: var(--font-f);
    font-weight: 600;
    line-height: 31.25px;
    /* margin-left: 30%; */
    
}
.s-s-paragraf{
    /* width: 358px; */
    color: #292825;
    font-size: 23px;
    font-family: var(--font-f);
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px; 
    margin-top: 20px;
    margin-bottom: 0;
    text-align: left;
}
.s-s-button{
    color: #32312f;
    font-size: clamp(1.3rem, calc(1.5rem + .1vw), 5rem);
    /* user-select: none; */

    font-family: var(--font-f);
    font-weight: 800;
    line-height: 22.50px;
    letter-spacing: 0.36px;
    border: none;
    background-color: transparent;
    margin-top: 52px;
    
    /* margin-left: 30%; */


    &.split-text {
        display: inline-flex;
      }
    
      & .split-char {
        font-weight: 400;
        transition: font-weight 0.5s ease;
    
        &:hover {
          font-weight: var(--_fw-900);
          color: var(--_clr-900);
        }
    
        /* // right side */
        &:hover + .split-char {
          font-weight: var(--_fw-700);
          color: var(--_clr-700);
        }
        &:hover + .split-char + .split-char {
          font-weight: var(--_fw-400);
          color: var(--_clr-400);
        }
    
        /* // left side */
        &:has(+ .split-char:hover) {
          font-weight: var(--_fw-700);
          color: var(--_clr-700);
        }
        &:has(+ .split-char + .split-char:hover) {
          font-weight: var(--_fw-400);
          color: var(--_clr-400);
        }
      }
   
}

/* section 3 */
.third-section{
    width: 1210px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 154px;

}
.t-s-container{
    
    height: 700px;
    background-image: url(./images/photo_33.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 365px;
    border-image: fill 0 linear-gradient(rgba(74, 74, 74, 0.067), #060505c7);
   
}
.second-img{
   
    width: 653px;
    height: 700px;
    position: absolute;
    top:0px;
    left: 0px;
    border-top-right-radius: 250px;
    box-shadow: 0px 0px 0px,
                89px 0px 0px #fff;
                
             
}
.t-s-title{
    width: 368px;
    height: 138px;
    color: rgb(48, 48, 48);
    font-size: 55px;
    font-family: var(--font-f);
    font-weight: 400;
    line-height: 68.75px;
    position: absolute;
    z-index: 1;
    left: 25px;
   
   
    
}
.t-s-paragraf{
    width: 324px;
    height: 99px;
    color: rgb(48, 48, 48);
    font-size: 22px;
    font-family: var(--font-f);
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0.22px;
    position: absolute;
    z-index: 1;
    left: 25px;
    top: 168px;
    
}
.svg-t-s{
    position: absolute;
    z-index: 1;
    bottom: 5px;
    right: 148px;
   
} 

.tel-t-s{
    color: white;
    font-size: 24px;
    font-family: var(--font-f);
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1px;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    right: 17px;
    
}
.tel-t-s::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: #00d5ff;
    border-radius: 5px;
    transform: scale(0);
    transition: all .6s ease;
}
.tel-t-s::before{
    bottom: 0;
    left: 0;
}
.tel-t-s:hover::before{
    transform: scale(1);
}

.second-animbtn{
    position: absolute;
    z-index: 1;
    left: 7px;
    bottom: 25px;
}
.tel-paragraf{
    width: 169px;
    color: white;
    font-size: 22px;
    font-family: var(--font-f);
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0.22px;
    position: absolute;
    bottom: 35px;
    right: -6px;
  
}
.t-s-button{
    color: white;
    font-size: 18px;
    font-family: var(--font-f);
    font-weight: 500;
    line-height: 22.50px;
    letter-spacing: 0.36px;
    padding: 20px 25px;
    border-radius: 18px;
    box-shadow: 0px 10px 20px rgb(94, 58, 34);
    background-color: #CDA274;
    border: none;
    position: absolute;
    z-index: 1;
    bottom: 80px;
    left: 25px;
}
.t-s-button:hover,
.t-s-button:focus{
    box-shadow: 55px 0px 47px #53361dde inset,
                5px 3px 17px #3d2a1adb;
                border-radius: 20px;
                background-color: #987046;
                transition: all 2s ; 
}
/* section 4 */
.fourth-section{
    width: 1210px;
    height: 700px;
    border-radius: 38px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
.f-s-container{
    display: flex;
    gap: 10px;

}
.f-s-title{
    width: 547px;
    color: rgb(49, 48, 48);
    font-size: 50px;
    font-family: var(--font-f);
    font-weight: 400;
    line-height: 62.50px;
    letter-spacing: 1px;
    text-align: center;
    margin: 80px auto;
    
    

}
.card{
    margin: 0 auto;
    width: 300px;
    height: 400px;
    background-color: #000;
    position: relative;
    border-radius: 8px;
    display: grid;
    place-items: center;
    overflow: hidden;
  
  }
  .card::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 140%;
    background-image: linear-gradient(180deg, #00d5ff , #07f8e4);
    animation: rotateClockwise 5s linear infinite;
  }
  .card::after{
    content: "";
    position: absolute;
    inset: 8px;
    background-color: #353535;
    border-radius: inherit;
  }
  @keyframes rotateClockwise{
    100% {
      rotate: 360deg;
    }
  }
.card-descr{
    width: 100%;
    max-width: 80%;
    z-index: 2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.card img{
    width: 100px;
    border-radius: 50%;
}
.card h4{
    color: #ececec;
    font-size: 20px;
    font-family: var(--font-f);
    font-weight: 400;
    line-height: 37.50px;
    letter-spacing: 0.25px;
    margin-top: 15px;
}
.country{
    margin-top: -10px;
    font-size: 13px;
    color: #b7b7b7;
}
.review{
    text-align: justify;
    margin-top: 10px;
    letter-spacing: 0.02em;
    color: #ececec;
}


/* section 5 */
.five-s-container{
  
   margin: 50px auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
}
.five-s-container h2{
    color: rgb(49, 48, 48);
    font-size: var(--h2-font);
    font-family: var(--font-f);
    font-weight: 400;
    line-height: 62.50px;
    letter-spacing: 1px;
    text-align: center;
    margin: 80px auto;
}

.partners-list{
    display: flex;
    gap: 50px;
    
    
}


.partners-item{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
}




/* section 6 */
.section-six{
    margin-top: 150px;
}
.six-s-title{
    
    color: #36383b;
    font-size: var(--h2-font);
    font-family: var(--font-f);
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 1.20px;
    text-align: center;
}

/* six  img section*/
.six-s-container{
    width: 1210px;
    margin: 70px auto;
   
}
.six-list{
    display: grid;
    grid-template-columns: auto auto ;
    gap: 15px;
    
}

.six-s-img{
    border-radius: 20px;
    /* border-image: fill 0 linear-gradient(rgba(74, 74, 74, 0.067), #060505c7); */
   border-bottom: 1px solid  lightslategray;
   object-fit: cover;
}
.room-link-cont{
  position: absolute;
  right: 10px;
  bottom: 20px;
}
.room-link{
  position: relative;
  width: 100%;
  box-sizing:content-box;
  color:rgb(157, 245, 245) ;
  font-size: 20px;
  background: linear-gradient(to right, #a1fdff 0, rgb(111, 247, 247) 20%, #00d5ff 30%);
  background-position: 0;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s infinite linear;
  animation-fill-mode: forwards;
  /* -webkit-text-size-adjust: none */
  white-space: nowrap;
}
@keyframes shine{
  0%{
    background-position: 0}

  100%{
    background-position: 250px}
}
.room-link::before{
  content: "";
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: #00d5ff;
    border-radius: 5px;
    transform: scale(0);
    transition: all .6s ease;
}
.room-link::before{
    bottom: 0;
    left: 0;
}
.room-link:hover::before{
    transform: scale(1);
}

.rooms-descr{
  position: absolute;
  left: 10px;
  bottom: 20px;
}
.rooms-descr p {
  font: 20px italic;
  font-weight: 600;
  color: #00d5ffad;
  text-shadow: 0px 12px 20px rgba(0, 0, 0, 0.788);
  padding: 3px;
  margin: 0;
}
.six-item{
  position: relative;
  width: 550px;
  height: 555px;
   

}
.living{
  background-image: url(./images/livingroom.jpg);
  background-size: cover;
  background-position: center;
  border-image: fill 0 linear-gradient(rgba(74, 74, 74, 0.067), #060505c7);
  overflow: hidden;
}
.bedroom{
  background-image: url(./images/bedroom.jpg);
  background-size: cover;
  background-position: center;
  border-image: fill 0 linear-gradient(rgba(74, 74, 74, 0.067), #060505c7);
  overflow: hidden;
}
.kitchen{
  background-image: url(./images/kitchen.jpg);
  background-size: cover;
  background-position: center;
  border-image: fill 0 linear-gradient(rgba(74, 74, 74, 0.067), #060505c7);
  overflow: hidden;
}
.bathroom{
  background-image: url(./images/bathroom.jpg);
  background-size: cover;
  background-position: center;
  border-image: fill 0 linear-gradient(rgba(74, 74, 74, 0.067), #060505c7);
  overflow: hidden;
}

/*  section 7 */

.seven-s-container{
    width: 1210px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
}
.seven-s-list{
    height: 106px;
    display: flex;
    
}
.seven-s-item{
    height: 130px;
    margin: auto;
    list-style: none;
    border-right:  1px  solid #00d5ff;
    padding-right: 50px;
    
}
.seven-s-item:last-child{
    border: none;
}
.value{
    
    color: #00d5ffb0;
    font-size: 85px;
    font-family: var(--font-f);
    font-weight: 400;
    line-height: 106.25px;
    letter-spacing: 1.70px;
    padding: 0;
    margin: 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.list-p{

    color: #4D5053;
    font-size: 22px;
    font-family: var(--font-f);
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* section 8 */
.eight-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    animation: slide-in-top 0.3s both;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
}

.cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.col {
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;

}

.container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.front,
.back {
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 370px;
    box-shadow: 0 0 10px solid rgb(255, 0, 0);

    height: auto;
    border-radius: 10px blue;
    color: #9be5f9;
    font-size: 1.5rem;
}
.bed-background{
    background-image: url(./images/bedroom2.jpg);
}
.living-background{
    background-image: url(./images/livingroom2.jpg);
}
.kitchen-background{
    background-image: url(./images/kitchen2.jpg);
}
.back {

    background-image:url(./images/back-card.jpg);
    /* background: -webkit-linear-gradient(45deg, #59a5a9 0%, #0e4169 100%); */
    /* background: -o-linear-gradient(45deg, #5472d4 0%, #5bc5f6 100%); */
    /* background: linear-gradient(45deg, #838485 0%, #cfd5da 100%); */
}

.front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000000a5;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.container:hover .front,
.container:hover .back {
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.back-p {
    color: #523131;
}
.inner {
   
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.container .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front .inner p {
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.front .inner p:after {
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #eaeaea;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}

.front .inner span {
    color: rgba(197, 232, 247, 0.7);
    font-family: 'Montserrat';
    font-weight: 300;
}

@media screen and (max-width: 64rem) {
    .col {
        width: calc(33.333333% - 2rem);
    }
}

@media screen and (max-width: 48rem) {
    .col {
        width: calc(50% - 2rem);
    }
}

@media screen and (max-width: 32rem) {
    .col {
        width: 100%;
        margin: 0 0 2rem 0;
    }
}
/* footer */
/* first part of footer */
.first-footer-cont{
    width: 1500px;
    height: 430px;
    /* margin-top: 105px; */
    background-image: url(./images/livingroom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.first-footer-title{
    color: white;
    font-size: 50px;
    font-family: var(--font-f);
    font-weight: 400;
    line-height: 62.50px;
    margin: 85px 0 0 0 ;
}
.first-footer-prg{
    color: white;
    font-size: 22px;
    font-family: var(--font-f);
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0.22px;
   
}
.first-footer-btn{
    color: white;
    font-size: 18px;
    font-family: var(--font-f);
    font-weight: 600;
    line-height: 22.50px;
    letter-spacing: 0.36px;
    background-color: #CDA274;
    border: none;
    border-radius: 18px;
    box-shadow: 0px 10px 20px #1F2022;
    padding: 26px 37px;
}
/* second container of footer */
.second-general-div{
display: flex;
justify-content: center;
margin-top: 41px;
margin-bottom: 131px;
gap: 101px;
}
/* second part of footer */
/* svg effect */
.facebook-svg{
border: 2px solid #0679e6;
border-radius: 50% ;
padding-inline: 10px; 
}
.facebook{
fill: #0679e6;
transition: 0.4s;
transition-delay: 0.2ms;
}

.facebook-svg:hover{
    box-shadow: 0 0 7px #0679e6 inset,
                0 0 7px #0679e6;
    transition: 0.4s ease-in-out;
    transform: rotateY(360deg);
}

.twitter-svg{
border: 2px solid #1c9ff1;
border-radius: 50% ;
padding-inline: 10px; 
}
.twitter{
fill: #1c9ff1;
transition: 0.4s;
transition-delay: 0.2ms;
}

.twitter-svg:hover{
    box-shadow: 0 0 7px #1c9ff1 inset,
                0 0 7px #1c9ff1;
    transition: 0.4s ease-in-out;
    transform: rotateY(360deg);
}

.linkedin-svg{
border: 2px solid #5a86eb;
border-radius: 50% ;
padding-inline: 10px; 
}
.linkedin{
fill: #5a86eb;
transition: 0.4s;
transition-delay: 0.2ms;
}

.linkedin-svg:hover{
    box-shadow: 0 0 7px #5a86eb inset,
                0 0 7px #5a86eb;
    transition: 0.4s ease-in-out;
    transform: rotateY(360deg);
}

.instagram-svg{
border: 2px solid #ff0095;
border-radius: 50% ;
padding-inline: 10px;
}
.instagram{
fill: #ff0095;
transition: 0.4s;
transition-delay: 0.2ms;
}

.instagram-svg:hover{
    box-shadow: 0 0 7px #ff0095 inset,
                0 0 7px #ff0095;
    transition: 0.4s ease-in-out;
    transform: rotateY(360deg);
}
.logo-svg-second{
    width: 50px;
    height: 50px;
    margin-bottom: -7px;
  
}
.logo-link-second{
    color: #292F36;
    font-size: 40px;
    font-family: var(--font-f);
    font-weight: 400;
    line-height: 50px;
    text-decoration: none;
}
.second-footer-prg{
    width: 393px;
    color: #4D5053;
    font-size: 22px;
    font-family: var(--font-f);
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    margin-top: 18px;
}
.second-footer-list{
    display: inline-flex;
    justify-content: flex-start;
    gap: 54px;
    padding: 0;
}
.second-footer-item{
    list-style: none;
    
}
/* third-five part of footer */
.third-footer-item{
    list-style: none;
    
}
.third-footer-title{
    color: #292F36;
    font-size: 25px;
    font-family: var(--font-f);
    font-weight: 400;
    line-height: 31.25px;
}
.third-footer-btn{
    border: none;
    background-color: transparent;
    color: #4D5053;
    font-size: 22px;
    font-family: var(--font-f);
    font-weight: 400;
    line-height: 66px;
    letter-spacing: 0.22px;
    word-wrap: break-word
}
.third-footer-btn:hover,
.third-footer-btn:focus{
    color: #ad671b;
    
}
.last-list{
    padding: 0;
    display: flex;
    flex-direction: column;
}
.third-footer-prg{
    color: #4D5053;
    font-size: 22px;
    font-family: var(--font-f);
    font-weight: 400;
   
}
.third-footer-link{
    color: #4D5053;
    font-size: 22px;
    font-family: var(--font-f);
    font-weight: 400;
    text-decoration: none;
    
    
}
.last-prg{
    text-align: center;
   padding-bottom: 15px;
}